body {
    background: rgb(253, 245, 230);
    margin-top:25px;
    margin-bottom:15px ;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  #primeiraimagempagina {
    width: 90%;    
    
  }
  
  em {
    color: rgb(75, 0, 130);
  }
  
  p {
    font-size: 30px;
    text-align: justify;
  }
  
  h1 {
    text-align: center;
    background: greenyellow;
  }
  
  h2 {
    text-align: center;
    background: greenyellow;
    font-size: 30px;
  }
  
  #destaquepalavrametaverso {
    color: rgb(178, 34, 34);
  }
  
  .itens {
    font-style: italic;
    
  }
  
  ul { 
    
    display: inline-block; 
      
  }
  
  .befeciciosmetaversoslista {
    background: rgb(135, 206, 250);
  }
  
  .parteprincipal {
    background: rgb(135, 206, 250);
  }
  
  .segundaimagem {
    width: 20%;
    display: inline-block; 
  }
  
  