body {
    background: rgb(253, 245, 230);
    margin-top:25px;
    margin-bottom:15px ;
    margin-left: 25px;
    margin-right: 25px;
  }

  .tituloprincipal{

    text-align: center;
    color: rgb(194, 26, 54);
    font-style: italic;
  }
  
  #primeiraimagempagina {
    width: 90%;    
    
  }
  
  em {
    color: rgb(75, 0, 130);
  }
  
  p {
    font-size: 30px;
    text-align: justify;
  }

  h1{

    text-align: center;
  }
  
  h2 {
    text-align: center;
    background: greenyellow;
  }
  
  h3 {
    text-align: center;
    background: greenyellow;
    font-size: 30px;
  }
  
  #destaquepalavrametaverso {
    color: rgb(178, 34, 34);
  }
  
  .itens {
    font-style: italic;
    
  }
  
  ul { 
    
    display: inline-block; 
    vertical-align: top;
    
    margin: 45px;
      
  }
  
  .befeciciosmetaversoslista {
    background: rgb(135, 206, 250);
    padding: 20px;
  }
  
  .parteprincipal {
    background: rgb(135, 206, 250);
    padding: 20px;
  }
  
  .segundaimagem {
    width: 60%;
    
  }
  
  