body {

    background: rgb(189, 224, 213);

}


header{
    background: rgb(177, 179, 173); 
    padding: 25px 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    
}

.tamanhologo{

    width: 240px;
}

.slogan{

    display: inline;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 100px;
    left: 600px;
    
}

.caixa{
    position: relative;
    width: 940px;
}

nav {

    position:absolute;
    top: 0px;
    right: 0px;


}

nav li{

    display: inline;
    font-family: Arial;
    margin: 0 0 0 15px;
    position: relative;
    top: 100px;
    left: 880px;
    
}

nav a {

    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}



.produtos{

    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    
}

.produtos li { 

    display: inline-block;    
    text-align: center;
    width: 30%;
    vertical-align: top;
    position: relative;
    top: 90px;

}

.produtos h3{ 

    color: rgba(9, 17, 95, 0.897);
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    margin-bottom: 15px;
}

.apresentação_do_produto{

    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    position: relative;
    top: 10px;


}

.apresentação_do_valor_produto{

    color: rgb(206, 15, 25);
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    position: relative;
    top: 15px;
}


.img_educacao_e_metaverso{

    width: 200px;
}


.img_game_e_metaverso {
    width: 200px;
    height: 162px;
}


.img_marketing_e_metaverso {   

    width: 200px;
    height: 162px;

}



